* {
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
}

.header {
    text-align: center;
    background-image: linear-gradient(to right, #ffffff, #f6f6fc, #eaedfa, #dde5f8, #cddef5);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 300px;
}

.header h1 {
    padding-top: 25px;
}

.header p {
    margin: 10px;
    font-size: 14px;
}

.container {
    position: absolute;
    top: 45%; 
    left: 45%;
    transform: translate(-50%, -50%);
    width: 66%;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 1;
    background-color: #FFFFFF;
}

.title h2 {
    margin-bottom: 5px;
}
.title label{
    margin-right: 35px;
}

.result {
    border: 1px solid #4D73FC;
    border-radius: 10px;
    margin-top: 25px;
    background-color: #4D73FC;
    color: #FFFFFF;
    padding: 25px;
}

.dados {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    color: #919ead;
    font-size: 14px;
    font-weight: 500;
}

.dados input {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #d0d3d1;
    border-radius: 10px;
}

span {
    font-size: 18px;
    color: #4D73FC;
    font-weight: 600;
}

.result__inicio {
    font-size: 14px;
}

.result__imc {
    font-weight: 500;
    font-size: 36px;
}

.result__frase {
    color: #aac1db;
    font-size: 12px;
}

.container__result {
    margin-top: 320px;
    padding: 25px;
}

.titulo__secao {
    text-align: center;
    padding: 5px;
}

.diagnostico__titulo {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input {
    margin: 10px 0;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #919ead

}

.formulario button {
    margin: 10px 0 40px 0;
    padding: 10px;
    width: 60%;
    border-radius: 15px;
    background-color: #4D73FC;
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #9baff9;
}
@media screen and (min-width: 730px) {
    .dados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .result {
        border-radius: 10px 100px 100px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* PRECISO REFAZER ESSA PARTE  */
/* @media screen and (min-width: 1300px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: linear-gradient(to right, #ffffff, #f6f6fc, #eaedfa, #dde5f8, #cddef5);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    }

    .container {
        margin-top: 50px;
        position: relative;
        top: 50%;
        left: 30%;
    } */
/* } */